<%= form_for(@coupon) do |f| %>
  <% if @coupon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@coupon.errors.count, "error") %> prohibited this coupon from being saved:</h2>

      <ul>
      <% @coupon.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :from_date %><br>
    <%= f.date_select :from_date %>
  </div>
  <div class="field">
    <%= f.label :to_date %><br>
    <%= f.date_select :to_date %>
  </div>
  <div class="field">
    <%= f.label :deal %><br>
    <%= f.text_field :deal %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :exclusions %><br>
    <%= f.text_area :exclusions %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
